In [34]:
import pandas as pd
alunosDIC = {'Nome':['Ricardo', 'Pedro', 'Roberto', 'Carlos'],
            'Nota':[4, 7, 5.5, 9],
            'Aprovado':[False, True, False, True]}

In [35]:
alunosDF = pd.DataFrame(alunosDIC)

In [36]:
display(alunosDF)

      Nome  Nota  Aprovado
0  Ricardo   4.0     False
1    Pedro   7.0      True
2  Roberto   5.5     False
3   Carlos   9.0      True

In [40]:
primeirasLinhas = alunosDF.loc[0:2]

In [41]:
primeirasLinhas

      Nome  Nota  Aprovado
0  Ricardo   4.0     False
1    Pedro   7.0      True
2  Roberto   5.5     False

In [44]:
novoDF = alunosDF.loc[alunosDF['Nota'] != 9]

In [45]:
novoDF

      Nome  Nota  Aprovado
0  Ricardo   4.0     False
1    Pedro   7.0      True
2  Roberto   5.5     False

In [54]:
alunosReprovados = alunosDF.loc[alunosDF['Aprovado'] == False] # or alunosDF['Nota'] < 7 or

In [55]:
alunosReprovados

      Nome  Nota  Aprovado
0  Ricardo   4.0     False
2  Roberto   5.5     False